

.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 67, 67);
    margin: 20px;
    border: transparent;
    border-radius: 30px;
 }

.containerImgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img {
    border-radius: 20px;
}
  
.imgDiv:hover {
opacity: 0.7;
filter: hue-rotate(40deg); 
}

.icons {
position: absolute;
display: flex;
justify-content: space-around;
}

.icon {
margin: auto 10px auto 10px;
border-radius: 15px;
display: none; /* Hide icon by default */
}

.imgDiv:hover .icon {
display: flex; /* Show icons when hovering over .imgDiv1 */
background-color: rgb(255, 255, 255);
}

.icon:hover {
box-shadow: 0 0 10px rgb(255, 255, 255);
}

.imgAndTitle {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    z-index: 0;
    margin: 10px;
    padding-bottom: 20px;
    transition: all 500ms ease-in-out;
}

.imgAndTitle:hover {
    background-color: rgba(164, 161, 167, 0.1);
}

.links {
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}



  