.imgDiv {
   background-color: rgb(65, 67, 67);
   padding: 10px 10px 100px 10px;
   margin: 20px;
   border: transparent;
   border-radius: 30px;
}

.containerImgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img {
    border-radius: 20px;
}